* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: arial;
}

.head {
    background-color: black;
    height: 400px;
    color: #fff9;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 100px;
    padding-top: 85px;
    text-align: center;
    box-sizing: border-box;
    text-shadow: 6px 6px 0 #fa498d, 12px 12px 0 #57284c;
}

.foot {
    background-color: none;
    height: 30vh;
    color: #fb695c;
    font-style: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 80px;
    padding-top: 85px;
    text-align: center;
    box-sizing: border-box;
    text-shadow: 3px 3px 0 #634255, -6px -6px 0 #e7bcf0;
}
